<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>新闻</string>
		<key>imgname</key>
		<string>default_news</string>
		<key>color_r</key>
		<integer>255</integer>
		<key>color_g</key>
		<integer>255</integer>
		<key>color_b</key>
		<integer>255</integer>
		<key>color_a</key>
		<integer>128</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>订阅</string>
		<key>imgname</key>
		<string>default_reading</string>
		<key>color_r</key>
		<integer>255</integer>
		<key>color_g</key>
		<integer>66</integer>
		<key>color_b</key>
		<integer>52</integer>
		<key>color_a</key>
		<integer>128</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>图片</string>
		<key>imgname</key>
		<string>default_photo</string>
		<key>color_r</key>
		<integer>87</integer>
		<key>color_g</key>
		<integer>164</integer>
		<key>color_b</key>
		<integer>234</integer>
		<key>color_a</key>
		<integer>128</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>视频</string>
		<key>imgname</key>
		<string>default_video</string>
		<key>color_r</key>
		<integer>72</integer>
		<key>color_g</key>
		<integer>173</integer>
		<key>color_b</key>
		<integer>65</integer>
		<key>color_a</key>
		<integer>128</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>跟贴</string>
		<key>imgname</key>
		<string>default_comment</string>
		<key>color_r</key>
		<integer>234</integer>
		<key>color_g</key>
		<integer>140</integer>
		<key>color_b</key>
		<integer>49</integer>
		<key>color_a</key>
		<integer>128</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>电台</string>
		<key>imgname</key>
		<string>default_radio</string>
		<key>color_r</key>
		<integer>255</integer>
		<key>color_g</key>
		<integer>52</integer>
		<key>color_b</key>
		<integer>114</integer>
		<key>color_a</key>
		<integer>128</integer>
	</dict>
</array>
</plist>
